*{
    padding: 0;
    margin: 0;
    border: 0;

}
html{
    box-sizing: border-box;
}
/* ============================================================= */
/* the body height of 400vh and background color of yellow */
#mainBody{
    background-color: whitesmoke;
    height: 400vh;
    width: auto;
}

/* ============================================================== */
/* the navbar css starts from here */
#wrapper{
    height: 7.5rem;
    width: auto;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}
#navbar{
    overflow-x: hidden;
    list-style: none;
    display: flex; 
    align-items: center;
    height: fit-content;
    border-radius: 2rem;
    background-color:rgba(45, 46, 48, 0.07);
    padding: 0.29rem 0.34rem;
    backdrop-filter: blur(8px);
}
#navbar li{
    padding: 0.8rem 1.8rem;
    /* background-color: white; */
    border-radius: 2rem;
    
}
#navbar li a{
    color: black;
    text-decoration: none;
}
#navbar li:hover{
    /* background-color: whitesmoke; */
    cursor: pointer;
}

/* the text to check the navbar; */
.he{
    overflow-x: hidden;
    font-size: 4rem;
}